<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Coding For Charity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        .logo{
            border-radius: 50%;
            height: auto; 
            width: auto; 
            max-width: 250px; 
            max-height: 250px;
        }
    </style>
</head>
<body>
    <div class= "container">
        <div class="row">
            <div class="col s2 offset-s12">
                <a href="blank" class="waves-effect waves-light btn">Sign up</a>
            </div>
        </div>
        <div class="row">
            <div class="col s6 offset-s3">
                <img class="logo" src="./logo.jpg">
            </div>    
        </div>
        <div class="row">
            <div class="col s8 offset-s2">
                <h1>Coding For Charity</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s6 offset-s3">
                <h5>Get Started By Choosing A Charity</h5>
            </div>
            <div class="col s6 offset-s3" >
                    <form action="#">
                        <p>
                            <label>
                            <input name="group1" type="radio" checked />
                            <span><a href="http://www.scholarshipamerica.org/">Scholarship America</a></span>
                            </label>
                            <label>
                            <input name="group1" type="radio" />
                            <span><a href="http://www.actionagainsthunger.org/">Action Against Hunger USA</a></span>
                            </label>
                            <label>
                            <input class="with-gap" name="group1" type="radio"  />
                            <span><a href="http://www.unbound.org/">Unbound</a>></span>
                            </label>
                            <label>
                            <input name="group1" type="radio" />
                            <span><a href="http://www.compassion.com/">Compassion International</a></span>
                            </label>
                        </p>
                        <input type="submit" class="btn btn-primary">
                        </form>
            </div>

        </div>
    </div>
    
</body>
</html>